<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="./css/matching.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=B612:700&display=swap" rel="stylesheet">
</head>

<body>
        <nav class="nav navbar-nav navbar-right navbar-inverse navbar-fixed-top navbar>
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                      <li class="active"><a href="#">MATCHES</a></li>
                      <li><a href="/">ABOUT</a></li>
                      <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </nav>
    <div class="wrapper">

        <div class="table">

            <div class="row header">
                <div class="cell">
                    #
                </div>
                <div class="cell">
                    NAME
                </div>
                <div class="cell">
                    PHONE
                </div>
                <div class="cell">
                    ADDRESS
                </div>
                <div class="cell">
                    ORDER VALUE
                </div>
            </div>

            <% matches.forEach((match, index)=>{%>
            <div class="row">
                <div class="cell" data-title="Name">
                    <%=index+1%>
                </div>
                <div class="cell" data-title="Name">
                    <%=match.name%>
                </div>
                <div class="cell" data-title="Phone">
                    <%=match.phone%>
                </div>
                <div class="cell" data-title="Address">
                    <%=match.address%>
                </div>
                <div class="cell" data-title="Location">
                    <%=match.total_price%>
                </div>
            </div>
            <% }) ;%>

        </div>

    </div>

    </div>
    <script src="./js/matching.js"></script>
</body>

</html>